body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* header section */

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    padding: 0px 120px;
}

.logo img {
    height: auto;
    width: 150px;
    margin-right: auto;
}

/* end of header section */

/* Start of hero section */
.body-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 85px;
    padding-top: 30px;
}

.body-text {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    text-align: left;
    margin-right: 50px;
}


button {
    background-color: #3882F6;
    color: white;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: block;
    border: black solid 3px;
    padding: 10px;
    border-radius: 24px;
}

.body-image img{
    border: 6px solid black;
    border-radius: 25px;
    width: 700px;
    height: auto;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}
/* End of hero */


/* Start call to action */

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.illustration-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
    margin-bottom: 100px;
}

.collage {
    height: auto;
    width: 270px;
    border: 6px solid #3882F6;
    /* how to round corners */
    border-radius: 25px;
}

.text {
    width: 270px;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
}


/* End call to action */

/* Start of the quote section */

.quote-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #e5e7eb;
    height: 400px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    padding-left: 250px;
    padding-right: 250px;
}

.signature {
    margin-top: 16px;
    font-size: 32px;
    font-weight: bold;
    padding-right: 300px;
}

/* End of the quote section */

/* Start call to action */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    background-color: #3882F6;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
}

.action-body {
    display: flex;
    flex-direction: column;
}

.action-text-main {
    font-size: 24px;
    color: #e5e7eb;
    margin-bottom: 0;
    margin-top: 50px;
}

.action-text-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
    margin-bottom: 50px;
}

/* End call to action  */

/* footer */

.footer {
    height: 72px;
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding: 0 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
